anyjson==0.3.3
beanstalkc==0.4.0
boto==2.45.0
Logbook==1.0.0
MySQL-python==1.2.5
oauthlib==2.0.1
pytz==2016.10
pyyaml>=4.2b1
requests>=2.20.0
requests-oauthlib==0.7.0
six==1.10.0
tweepy==3.5.0
wheel==0.24.0
