[politwoops]
# The name of the beanstalk queue to dump new tweets into
tweets_tube=
# The name of the beanstalk queue for screenshot jobs
screenshot_tube=

# fill in Twitter account username and password
[tweets-client]
username=
password=

# type can be stream, words, or users
type=users

# which tracking?
track-module=tweetsclient.mysql_track
track-class=MySQLTrackPlugin

# Beanstalk server connection info. The tubes 
# are configured in the politwoops section above.
[beanstalk]
host=localhost
port=11300

# replace database information if necessary
[database]
host=localhost
port=3306
database=politwoops
username=politwoops
password=politwoops
table=politicians
field=twitter_id
conditions=status=1

# fill in stathat email
[stathat]
enabled=no
email=

# set a writeable directory to temporarily store cached images in
[images]
tmp_dir=/tmp

# fill in AWS credentials, bucket to upload images to, and any path prefix within the bucket
[aws]
access_key=
secret_access_key=
bucket_name=
url_prefix=
