# fill in Twitter account username and password
[tweets-client]
username=
password=
consumer_key=
consumer_secret=
access_token=
access_token_secret=

# type can be stream, words, or users
type=users

# which tracking?
track-module=tweetsclient.mysql_track
track-class=MySQLTrackPlugin

# Directory in which to create heartbeat files.
# The directory should otherwise be empty.
heartbeats_directory=
# Interval in seconds that the heartbeat files should be touched
heartbeat_interval=30

# Beanstalk server connection info. The tubes 
# are configured in the politwoops section above.
[beanstalk]
host=localhost
port=11300
# The name of the beanstalk queue to dump new tweets into
tweets_tube=
# The name of the beanstalk queue for screenshot jobs
screenshot_tube=

# replace database information if necessary
[database]
host=localhost
port=3306
database=politwoops
username=politwoops
password=politwoops
table=politicians
field=twitter_id
conditions=status=1

# fill in stathat email
[stathat]
enabled=no
email=

# set a writeable directory to temporarily store cached images in
[images]
tmp_dir=/tmp

# fill in AWS credentials, bucket to upload images to, and any path prefix within the bucket
[aws]
access_key=
secret_access_key=
bucket_name=
url_prefix=

# preferences for administration alerts
# If you want to disable email alerts, delete this entire section.
[moderation-alerts]
max_tweets=3
mail_host=
mail_username=
mail_password=
mail_port=25
recipient=
sender=
